.register-form{
    margin: 0 auto;
    width: 50%;
}
.register-form input{
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}